			body{
				text-align:center;

				
				}
				
			#demo1{
				margin-top:50px;
				color:red;
				}
			
			audio{
				width:700px;
		
				
				}
				
			img{
				width:100px;
				}
			h1{
				
				font-weight:bold;
				padding-left:0;
				padding-right:0;
				word-spacing:8px;
				font-size:20px;
				
				}

			input{
				
				margin-bottom:15px;
				width:250px;
				}
			p{
				margin-bottom:0px;
				color:red;
				}

		#jana{
						
						width:300px;
		}
			
			#man{
							color:red;
			}
			
			
				#rrr{
								margin-top:0px;
				}
			
				
			
				
				
			
			
